* {
  font-family: 'Pacifico', cursive;
  margin:0;
  padding:0;
}

main{
    display:flex;
    align-items:center;
    flex-direction:column;
    text-align: justify;
    margin-left:3rem;
    margin-right:3rem;
    justify-content: center;
}

header {
    background-color: lightgray;
    color: #2596be;
    text-align:center;
    text-shadow: 3px 3px 1px rgb(70, 66, 66);
    margin-bottom: 1rem;
    padding: 1rem;
 }

footer {
  background-color: lightgray;
  margin-top: 1rem;
 }
  
p, img{
    margin-top:1rem;
    margin-bottom: :1rem;
    padding-left: 1rem;
    margin-right: 1rem;
}

nav{
  justify-content:center;
  margin-top:2rem;
  align-items: center;
}

ul{
  display:flex;
  list-style:none;
  justify-content:center;
}

li{
   max-width: 10%;
}

a{
  display:inline-flex;
  justify-content: center;
  text-decoration: none;
}

a:link {
  color: rgba(3, 2, 0, 0.829);
  }
 
 a:hover {
  color: #2596be;
 }



/* DIV definido para todas as imagens com texto*/
div{
  display:inline-flex;
  float: left;
  margin:0;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding-right:2rem;
  align-items:center;
}